<style>
	h1,h2,h3{
        color: forestgreen;
    }
	body {
		background-color: lightcyan;
	}
	.fl {
		color: red;
	}
	.lm {
		color:green;
	}
	.mn {
		color:blue;
	}
	.lst {
		color:whitesmoke
	}
</style>